<div class="wrapper">
  <h1>{{resume.name}}</h1>
  <h2>{{resume.title}}</h2>

  <p>{{resume.description}}</p>

  <div *ngIf="resume.urls">
    <p><em>LinkedIn:</em> <a href="{{resume.urls.linkedin}}">{{resume.urls.linkedin}}</a></p>
    <p><em>Portfolio:</em> <a href="{{resume.urls.portfolio}}">{{resume.urls.portfolio}}</a></p>
    <p><em>Blog:</em> <a href="{{resume.urls.blog}}">{{resume.urls.blog}}</a></p>
  </div>

  <h2>Erfarenhet</h2>
  <ul>
    <li *ngFor="let position of resume.positions">
      <a href="#{{position.id}}">{{position.company}}</a>
    </li>
  </ul>

  <app-search [resume]="resume"></app-search>

  <app-position *ngFor="let position of resume.positions" [position]="position"></app-position>
</div>